# .gitignore

# Ignoriere Build-Dateien
*.o
*.out
*.exe
*.a
*.so

# Ignoriere Projektdateien
*.pro.user
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignoriere IDE/Editor spezifische Dateien
.vscode/
.idea/
*.swp
*.swo
*.swn
*.bak
*.orig
*.o

# Ignoriere Betriebssystem spezifische Dateien
**/.DS_Store
.DS_Store
Thumbs.db

#build ordner
**/build/